<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/error.css">
</head>
<body>
    <div class="wrap">
        <%- include('./partials/header.ejs') %>

        <main class="main">
            <section class="movies">
                <h1 class="movies__title title"><%= title %></h1>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>